<br>
<div class="card ">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of Empleados; let iControl=index">
                        <td scope="row">{{ empleado.id }}</td>
                        <td>{{ empleado.nombre}} </td>
                        <td>{{empleado.correo}} </td>
                        <td><a  class="btn btn-primary" routerLink="/modificar-empleado/{{ empleado.id }}">Modificar</a> | 
                            <a (click)="eliminarRegistro(empleado.id, iControl)" id="" class="btn btn-danger" role="button">Borrar</a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        
    </div>
   
</div>
