*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(imagenes/el-chalten-8223303_1280.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
}